<cx-storefront>Loading...</cx-storefront> 

<ng-template cxOutletRef="Section3" cxOutletPos="before" >
        <div class="image-set" *ngFor="let imageMap of imageMaps">
            <image-map class="image" [src]="image" 
                [imageMap]="imageMap"
                (onClick)="getClick($event)" 
                canEdit="true" ></image-map>
            <div class="rightpanel">
                <div class="productlist boxshadow">
                    <app-interested-products 
                            [imageMap]="imageMap"
                            class="interesstingProducts">

                    </app-interested-products>
                </div>
                <div class="overview boxshadow">
                        <div class="productoverview">
                            <app-product-overview></app-product-overview>
                        </div>
                </div>
            </div>
        </div>
      

</ng-template> 



